[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scAnnotatR"]
	path = scAnnotatR
	url = https://github.com/grisslab/scannotatr
